{% extends "base.html" %}
{% load static %}

{# -- タイトル -- #}
{% block title %}ログイン{% endblock%}

{# -- CSS -- #}
{% block extra_css %}
    <style type="text/css">
        main > section > .mx-auto {
            max-width: 400px;
        }
    </style>
{% endblock%}

{# -- メインコンテンツ -- #}
{% block main %}
    <main>
        <section id="login-form" class="container mb-4">
            {# -- 自由記載 -- #}
        </section>
    </main>
{% endblock%}

{# -- フッター表示しない -- #}
{% block footer %}
{% endblock%}
