{% extends 'base.html' %}

{% block title %}DRPT CREATE{% endblock %}
    
{% block content %}
<h3 class=mb-5>
  {% if not form.instance.pk %}
  CREATE
  {% else %}
  EDIT
  {% endif %}
</h3>
<div class="container" style="max-width: 640px;">
  <div class="row">
    <div class="col offset-2">
      {{ form.media }}
      <form method="POST">
      {% csrf_token %}
      {{ form.as_table }}
      <br>
      <button class="primaryAction btn btn-primary btn-sm mb-3" type="submit">
      {% if not form.instance.pk %}
      作成する
      {% else %}
      編集する
      {% endif %}
      </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
