{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}
<h2 class=mb-2>HOME</h2>
{% if user.is_authenticated %}
Welcome ! {{ user.get_username }} さん

<!-- 一覧表示 -->
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for record in object_list %}
    <div class="col">
      <div class="card-body">
        <p class="card-text">
          <div class='mb-1' style='text-align: left;'>{{ record.title }}</div>
          <ul style="list-style:none; padding-left:0;">
            <li>開催日時 :</li>
            <li><u>{{ record.date }} {{ record.time }}</u> ~<br></li>
          </ul>
          <ul style="list-style:none; padding-left:0;">
            <li>店舗 : {{ record.restaurant| truncatechars:30 }}</li>
            <li>場所 : {{ record.address| truncatechars:30 }}</li>
            <li>URL : <a href="{{ record.url }}" target="_blank" rel="noopener noreferrer">店舗リンク<i class="fa-solid fa-up-right-from-square fa-xs"></i></a><div class="fa" style='font-family: Font Awesome 5 Free;'></div></li>  
            <li>予約者 : {{ record.subscriber }}</li>
            <li>予算 : {{ record.fee }}円</li>
            {% comment %} <li>備考 : {{ record.comment| truncatechars:30 }}</li> {% endcomment %}
            <li>作成者 : {{ record.user }}</li>
          </ul>
          <ul style='font-size: 10px; list-style:none; padding-left:0;'>
            <li>作成日 : {{ record.create_dt }}</li>
            {% comment %} <li>更新日 : {{ record.mod_dt }}</li> {% endcomment %}
          </ul>  
          <div class="detail">
            <a href="{% url 'party:party_detail' record.pk %}">飲み会詳細</a>
          </div>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- 一覧表示 -->

<p class=mt-2><a href="{% url 'account_logout' %}">ログアウト</a></p>
{% else %}
<p><a class="btn btn-primary btn-sm" href="{% url 'account_login' %}">ログイン</a></p>
{% endif %}
{% endblock %}
